@import "./utils/globals";
@import "./utils/variables";
@import "./components/header";
@import "./components/footer";
@import "./components/hero";
@import "./components/modal";
@import "./components/about";
@import "./components/section";
@import "./components/team";
@import "./components/mobile-menu";
@import "./components/portfolio";

.container {
  width: 480px;
  margin: 0 auto;
}

.what-we-do {
    display: none;
  }

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .what-we-do {
    display: block;
  }
}